# Posttest_4
Nama  : Hendi
NIM   : 2009106009
Kelas : Praktikum Kecerdasn Buatan A1 2020

## Import Library

In [71]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

In [72]:
df = pd.read_csv("income_evaluation.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

## Data Split

In [73]:
Y = df.iloc[:,-1]
X = df.iloc[:,:-1]

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)

In [74]:
print("X_train : ", X_train.shape)
print("X_train : ", X_test.shape)
print("Y_train : ", Y_train.shape)
print("Y_test : ", Y_test.shape)

X_train :  (22792, 14)
X_train :  (9769, 14)
Y_train :  (22792,)
Y_test :  (9769,)

## Normalisasi Data

In [75]:
df.dtypes

age                 int64
 workclass         object
 fnlwgt             int64
 education         object
 education-num      int64
 marital-status    object
 occupation        object
 relationship      object
 race              object
 sex               object
 capital-gain       int64
 capital-loss       int64
 hours-per-week     int64
 native-country    object
 income            object
dtype: object

In [76]:
df2 = df[['age', ' fnlwgt', ' education-num', ' capital-gain', ' capital-loss', ' hours-per-week']]
df2.head()

   age   fnlwgt   education-num   capital-gain   capital-loss   hours-per-week
0   39    77516              13           2174              0               40
1   50    83311              13              0              0               13
2   38   215646               9              0              0               40
3   53   234721               7              0              0               40
4   28   338409              13              0              0               40

In [77]:
ss = MinMaxScaler()

## Standarisasi Data

In [78]:
Scaled_data = ss.fit_transform(df2)

In [79]:
print("Data Sebelum scalling : ")
print(df2)
print("Nilai standar deviasi: \n", np.std(df2))

Data Sebelum scalling :
       age   fnlwgt   education-num   capital-gain   capital-loss  \
0       39    77516              13           2174              0
1       50    83311              13              0              0
2       38   215646               9              0              0
3       53   234721               7              0              0
4       28   338409              13              0              0
...    ...      ...             ...            ...            ...
32556   27   257302              12              0              0
32557   40   154374               9              0              0
32558   58   151910               9              0              0
32559   22   201490               9              0              0
32560   52   287927               9          15024              0

        hours-per-week
0                   40
1                   13
2                   40
3                   40
4                   40
...                ...
32556               38
32557               40
32558               40
32559               20
32560               40

[32561 rows x 6 columns]
Nilai standar deviasi:
 age                    13.640223
 fnlwgt            105548.356881
 education-num          2.572681
 capital-gain        7385.178677
 capital-loss         402.954031
 hours-per-week        12.347239
dtype: float64

In [80]:
print("Data sesudah scalling : ")
print(Scaled_data)
print("Nilai standar deviasi: ", np.std(Scaled_data))

Data sesudah scalling :
[[0.30136986 0.0443019  0.8        0.02174022 0.         0.39795918]
 [0.45205479 0.0482376  0.8        0.         0.         0.12244898]
 [0.28767123 0.13811345 0.53333333 0.         0.         0.39795918]
 ...
 [0.56164384 0.09482688 0.53333333 0.         0.         0.39795918]
 [0.06849315 0.12849934 0.53333333 0.         0.         0.19387755]
 [0.47945205 0.18720338 0.53333333 0.1502415  0.         0.39795918]]
Nilai standar deviasi:  0.2508287602095078

In [81]:
df3 = df[['age', ' fnlwgt', ' education-num', ' capital-gain', ' capital-loss', ' hours-per-week'  ]]
df3.head()

   age   fnlwgt   education-num   capital-gain   capital-loss   hours-per-week
0   39    77516              13           2174              0               40
1   50    83311              13              0              0               13
2   38   215646               9              0              0               40
3   53   234721               7              0              0               40
4   28   338409              13              0              0               40

In [82]:
ss = StandardScaler()
Scaled_data = ss.fit_transform(df3)

In [83]:
print("Data Sebelum scalling : ")
print(df3)
print("Nilai standar deviasi: \n", np.std(df3))

Data Sebelum scalling :
       age   fnlwgt   education-num   capital-gain   capital-loss  \
0       39    77516              13           2174              0
1       50    83311              13              0              0
2       38   215646               9              0              0
3       53   234721               7              0              0
4       28   338409              13              0              0
...    ...      ...             ...            ...            ...
32556   27   257302              12              0              0
32557   40   154374               9              0              0
32558   58   151910               9              0              0
32559   22   201490               9              0              0
32560   52   287927               9          15024              0

        hours-per-week
0                   40
1                   13
2                   40
3                   40
4                   40
...                ...
32556               38
32557               40
32558               40
32559               20
32560               40

[32561 rows x 6 columns]
Nilai standar deviasi:
 age                    13.640223
 fnlwgt            105548.356881
 education-num          2.572681
 capital-gain        7385.178677
 capital-loss         402.954031
 hours-per-week        12.347239
dtype: float64

In [84]:
print("Data sesudah scalling : ")
print(Scaled_data)
print("Nilai standar deviasi: ", np.std(Scaled_data))

Data sesudah scalling :
[[ 0.03067056 -1.06361075  1.13473876  0.1484529  -0.21665953 -0.03542945]
 [ 0.83710898 -1.008707    1.13473876 -0.14592048 -0.21665953 -2.22215312]
 [-0.04264203  0.2450785  -0.42005962 -0.14592048 -0.21665953 -0.03542945]
 ...
 [ 1.42360965 -0.35877741 -0.42005962 -0.14592048 -0.21665953 -0.03542945]
 [-1.21564337  0.11095988 -0.42005962 -0.14592048 -0.21665953 -1.65522476]
 [ 0.98373415  0.92989258 -0.42005962  1.88842434 -0.21665953 -0.03542945]]
Nilai standar deviasi:  1.0

## Data Cleaning

In [85]:
df.isna().sum()

age                0
 workclass         0
 fnlwgt            0
 education         0
 education-num     0
 marital-status    0
 occupation        0
 relationship      0
 race              0
 sex               0
 capital-gain      0
 capital-loss      0
 hours-per-week    0
 native-country    0
 income            0
dtype: int64

In [86]:
df.dtypes

age                 int64
 workclass         object
 fnlwgt             int64
 education         object
 education-num      int64
 marital-status    object
 occupation        object
 relationship      object
 race              object
 sex               object
 capital-gain       int64
 capital-loss       int64
 hours-per-week     int64
 native-country    object
 income            object
dtype: object

In [87]:
imputer = SimpleImputer(strategy='most_frequent' )

df["age"] = imputer.fit_transform(df[["age"]])
df["fnlwgt"] = imputer.fit_transform(df[[" fnlwgt"]])
df[" education-num"] = imputer.fit_transform(df[[" education-num"]])
df[" capital-gain"] = imputer.fit_transform(df[[" capital-gain"]])
df[" capital-loss"] = imputer.fit_transform(df[[" capital-loss"]])
df[" hours-per-week"] = imputer.fit_transform(df[[" hours-per-week"]])

In [88]:
df.isna().sum()

age                0
 workclass         0
 fnlwgt            0
 education         0
 education-num     0
 marital-status    0
 occupation        0
 relationship      0
 race              0
 sex               0
 capital-gain      0
 capital-loss      0
 hours-per-week    0
 native-country    0
 income            0
fnlwgt             0
dtype: int64

## Data Cleaning (Duplikat)

In [89]:
print("Data Duplikat: ")
df[df.duplicated()]

Data Duplikat:

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income,fnlwgt
4881,25,Private,308144,Bachelors,13,Never-married,Craft-repair,Not-in-family,White,Male,0,0,40,Mexico,<=50K,308144
5104,90,Private,52386,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,0,0,35,United-States,<=50K,52386
9171,21,Private,250051,Some-college,10,Never-married,Prof-specialty,Own-child,White,Female,0,0,10,United-States,<=50K,250051
11631,20,Private,107658,Some-college,10,Never-married,Tech-support,Not-in-family,White,Female,0,0,10,United-States,<=50K,107658
13084,25,Private,195994,1st-4th,2,Never-married,Priv-house-serv,Not-in-family,White,Female,0,0,40,Guatemala,<=50K,195994
15059,21,Private,243368,Preschool,1,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,50,Mexico,<=50K,243368
17040,46,Private,173243,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K,173243
18555,30,Private,144593,HS-grad,9,Never-married,Other-service,Not-in-family,Black,Male,0,0,40,?,<=50K,144593
18698,19,Private,97261,HS-grad,9,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,40,United-States,<=50K,97261
21318,19,Private,138153,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,10,United-States,<=50K,138153
21490,19,Private,146679,Some-college,10,Never-married,Exec-managerial,Own-child,Black,Male,0,0,30,United-States,<=50K,146679
21875,49,Private,31267,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K,31267
22300,25,Private,195994,1st-4th,2,Never-married,Priv-house-serv,Not-in-family,White,Female,0,0,40,Guatemala,<=50K,195994
22367,44,Private,367749,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,45,Mexico,<=50K,367749
22494,49,Self-emp-not-inc,43479,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K,43479
25872,23,Private,240137,5th-6th,3,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,55,Mexico,<=50K,240137
26313,28,Private,274679,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,50,United-States,<=50K,274679
28230,27,Private,255582,HS-grad,9,Never-married,Machine-op-inspct,Not-in-family,White,Female,0,0,40,United-States,<=50K,255582
28522,42,Private,204235,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K,204235
28846,39,Private,30916,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K,30916
29157,38,Private,207202,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,48,United-States,>50K,207202
30845,46,Private,133616,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,133616
31993,19,Private,251579,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,14,United-States,<=50K,251579
32404,35,Private,379959,HS-grad,9,Divorced,Other-service,Not-in-family,White,Female,0,0,40,United-States,<=50K,379959

In [90]:
df.drop_duplicates(inplace=True)

print("Data Duplikat: ")
df[df.duplicated()]

Data Duplikat:

Empty DataFrame
Columns: [age,  workclass,  fnlwgt,  education,  education-num,  marital-status,  occupation,  relationship,  race,  sex,  capital-gain,  capital-loss,  hours-per-week,  native-country,  income, fnlwgt]
Index: []

## OneHot Encoding

In [91]:
encoder = OneHotEncoder(sparse=False)
sexEnc = encoder.fit_transform(df[[" sex"]])

In [92]:
sex = pd.DataFrame(sexEnc)
df = df.join(sex)

df = df.rename(columns={
    0 : 'Female',
    1 : 'Male'
})

In [93]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income,fnlwgt,Female,Male
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,77516,0.0,1.0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,83311,0.0,1.0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,215646,0.0,1.0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,234721,0.0,1.0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,338409,1.0,0.0