# Posttest 2

Nama    : Hendi
NIM     : 2009106009
Kelas   : Praktikum Kecerdasn Buatan A1 2020

In [11]:
import numpy as np
import pandas as pd
from tabulate import tabulate

## Dataset

In [12]:
dataset = pd.read_csv("Application_Dataset.csv")
dataset

,Applicant_ID,Applicant_Gender,Owned_Car,Owned_Realty,Total_Children,Total_Income,Income_Type,Education_Type,Family_Status,Housing_Type,...,Owned_Work_Phone,Owned_Phone,Owned_Email,Job_Title,Total_Family_Members,Applicant_Age,Years_of_Working,Total_Bad_Debt,Total_Good_Debt,Status
0,5008806,M,1,1,0,112500,Working ...,Secondary / secondary special ...,Married ...,House / apartment ...,...,0,0,0,Security staff ...,2,59,4,0,30,1
1,5008808,F,0,1,0,270000,Commercial associate ...,Secondary / secondary special ...,Single / not married ...,House / apartment ...,...,0,1,1,Sales staff ...,1,53,9,0,5,1
2,5008809,F,0,1,0,270000,Commercial associate ...,Secondary / secondary special ...,Single / not married ...,House / apartment ...,...,0,1,1,Sales staff ...,1,53,9,0,5,1
3,5008810,F,0,1,0,270000,Commercial associate ...,Secondary / secondary special ...,Single / not married ...,House / apartment ...,...,0,1,1,Sales staff ...,1,53,9,0,27,1
4,5008811,F,0,1,0,270000,Commercial associate ...,Secondary / secondary special ...,Single / not married ...,House / apartment ...,...,0,1,1,Sales staff ...,1,53,9,0,39,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25123,5150482,F,1,1,1,157500,Working ...,Secondary / secondary special ...,Married ...,House / apartment ...,...,0,0,0,Core staff ...,3,30,5,0,18,1
25124,5150483,F,1,1,1,157500,Working ...,Secondary / secondary special ...,Married ...,House / apartment ...,...,0,0,0,Core staff ...,3,30,5,0,18,1
25125,5150484,F,1,1,1,157500,Working ...,Secondary / secondary special ...,Married ...,House / apartment ...,...,0,0,0,Core staff ...,3,30,5,0,13,1
25126,5150485,F,1,1,1,157500,Working ...,Secondary / secondary special ...,Married ...,House / apartment ...,...,0,0,0,Core staff ...,3,30,5,0,2,1
25127,5150487,M,1,0,0,202500,Working ...,Secondary / secondary special ...,Married ...,House / apartment ...,...,0,0,0,Drivers ...,2,54,6,0,30,1

## Informasi Dataset

In [13]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25128 entries, 0 to 25127
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Applicant_ID          25128 non-null  int64
 1   Applicant_Gender      25128 non-null  object
 2   Owned_Car             25128 non-null  int64
 3   Owned_Realty          25128 non-null  int64
 4   Total_Children        25128 non-null  int64
 5   Total_Income          25128 non-null  int64
 6   Income_Type           25128 non-null  object
 7   Education_Type        25128 non-null  object
 8   Family_Status         25128 non-null  object
 9   Housing_Type          25128 non-null  object
 10  Owned_Mobile_Phone    25128 non-null  int64
 11  Owned_Work_Phone      25128 non-null  int64
 12  Owned_Phone           25128 non-null  int64
 13  Owned_Email           25128 non-null  int64
 14  Job_Title             25128 non-null  object
 15  Total_Family_Members  25128 non-null  int64
 16  Applicant_Age         25128 non-null  int64
 17  Years_of_Working      25128 non-null  int64
 18  Total_Bad_Debt        25128 non-null  int64
 19  Total_Good_Debt       25128 non-null  int64
 20  Status                25128 non-null  int64
dtypes: int64(15), object(6)
memory usage: 4.0+ MB

### Jumlah Record

In [14]:
jumlah_record = len(dataset.index)
print("Jumlah record :", jumlah_record)

Jumlah record : 25128

### Nama Atribut

In [15]:
Atribut_dataset = list(dataset.columns)
Atribut = "\n".join(Atribut_dataset)
print("Nama atribut","\n", Atribut)

Nama atribut
 Applicant_ID
Applicant_Gender
Owned_Car
Owned_Realty
Total_Children
Total_Income
Income_Type
Education_Type
Family_Status
Housing_Type
Owned_Mobile_Phone
Owned_Work_Phone
Owned_Phone
Owned_Email
Job_Title
Total_Family_Members
Applicant_Age
Years_of_Working
Total_Bad_Debt
Total_Good_Debt
Status

### Jumlah Atribut

In [16]:
jumlah_atribut = dataset.shape[1]
print("Jumlah atribut :", jumlah_atribut)

Jumlah atribut : 21

### Tipe Atribut Objek

In [17]:
Tipe_objek = len(dataset.dtypes[dataset.dtypes == 'object'])

print("Atribut tipe objek :", Tipe_objek)

Atribut tipe objek : 6

## Tipe Atribut Angka

In [18]:
Int = len(dataset.dtypes[dataset.dtypes == 'int64'])
Float = len(dataset.dtypes[dataset.dtypes == 'float64'])
Tipe_angka = Int + Float

print("Atribut tipe angka :", Tipe_angka)

Atribut tipe angka : 15

## Tipe Atribut Nilai Null

In [19]:
Tipe_null = dataset.isnull().any().sum()

print("Atribut nilai null :", Tipe_null)

Atribut nilai null : 0

## Tampilan Dalam Dictionary

In [23]:
Dict = {"Jumlah record" : [jumlah_record],
        "Nama atribut":[Atribut],
        "Atribut tipe objek" : [Tipe_objek],
        "Atribut tipe angka" : [Tipe_angka],
        "Atribut nilai null" : [Tipe_null],}

tabel = pd.DataFrame(Dict)
print(tabulate(tabel, headers='keys', tablefmt='psql', showindex=False))

+-----------------+----------------------+----------------------+----------------------+----------------------+
|   Jumlah record | Nama atribut         |   Atribut tipe objek |   Atribut tipe angka |   Atribut nilai null |
|-----------------+----------------------+----------------------+----------------------+----------------------|
|           25128 | Applicant_ID         |                    6 |                   15 |                    0 |
|                 | Applicant_Gender     |                      |                      |                      |
|                 | Owned_Car            |                      |                      |                      |
|                 | Owned_Realty         |                      |                      |                      |
|                 | Total_Children       |                      |                      |                      |
|                 | Total_Income         |                      |                      |                      |
|                 | Income_Type          |                      |                      |                      |
|                 | Education_Type       |                      |                      |                      |
|                 | Family_Status        |                      |                      |                      |
|                 | Housing_Type         |                      |                      |                      |
|                 | Owned_Mobile_Phone   |                      |                      |                      |
|                 | Owned_Work_Phone     |                      |                      |                      |
|                 | Owned_Phone          |                      |                      |                      |
|                 | Owned_Email          |                      |                      |                      |
|                 | Job_Title            |                      |                      |                      |
|                 | Total_Family_Members |                      |                      |                      |
|                 | Applicant_Age        |                      |                      |                      |
|                 | Years_of_Working     |                      |                      |                      |
|                 | Total_Bad_Debt       |                      |                      |                      |
|                 | Total_Good_Debt      |                      |                      |                      |
|                 | Status               |                      |                      |                      |
+-----------------+----------------------+----------------------+----------------------+----------------------+

### Rata-Rata, Standar Deviasi, Minimum, Maksimum, Q1, Q2, dan Q3 dari Atribut Tipe Angka

In [24]:
desc = dataset.describe()
desc.rename(index = {"count": "Jumlah Data",
                     "Mean": "Rata Rata",
                     "std": "Standar Deviasi",
                     "min": "Minimum",
                     "25%": "Q1",
                     "50%": "Q2",
                     "75%": "Q3",
                     "max": "Maksimum"}, inplace = True)
desc

,Applicant_ID,Owned_Car,Owned_Realty,Total_Children,Total_Income,Owned_Mobile_Phone,Owned_Work_Phone,Owned_Phone,Owned_Email,Total_Family_Members,Applicant_Age,Years_of_Working,Total_Bad_Debt,Total_Good_Debt,Status
Jumlah Data,2.512800e+04,25128.000000,25128.000000,25128.000000,2.512800e+04,25128.0,25128.000000,25128.000000,25128.000000,25128.000000,25128.000000,25128.000000,25128.000000,25128.000000,25128.000000
mean,5.078835e+06,0.418378,0.654927,0.509472,1.948365e+05,1.0,0.273758,0.292741,0.100684,2.291309,40.995503,7.690903,0.333095,21.057545,0.995185
Standar Deviasi,4.194378e+04,0.493303,0.475402,0.762937,1.045211e+05,0.0,0.445895,0.455030,0.300916,0.928871,9.552832,6.415007,1.569448,14.735347,0.069227
Minimum,5.008806e+06,0.000000,0.000000,0.000000,2.700000e+04,1.0,0.000000,0.000000,0.000000,1.000000,21.000000,1.000000,0.000000,1.000000,0.000000
Q1,5.042226e+06,0.000000,0.000000,0.000000,1.350000e+05,1.0,0.000000,0.000000,0.000000,2.000000,33.000000,3.000000,0.000000,9.000000,1.000000
Q2,5.079004e+06,0.000000,1.000000,0.000000,1.800000e+05,1.0,0.000000,0.000000,0.000000,2.000000,40.000000,6.000000,0.000000,18.000000,1.000000
Q3,5.115603e+06,1.000000,1.000000,1.000000,2.250000e+05,1.0,1.000000,1.000000,0.000000,3.000000,48.000000,10.000000,0.000000,31.000000,1.000000
Maksimum,5.150487e+06,1.000000,1.000000,5.000000,1.575000e+06,1.0,1.000000,1.000000,1.000000,7.000000,68.000000,44.000000,49.000000,61.000000,1.000000

### Nilai Korelasi

In [25]:
dataset.corr()

,Applicant_ID,Owned_Car,Owned_Realty,Total_Children,Total_Income,Owned_Mobile_Phone,Owned_Work_Phone,Owned_Phone,Owned_Email,Total_Family_Members,Applicant_Age,Years_of_Working,Total_Bad_Debt,Total_Good_Debt,Status
Applicant_ID,1.000000,-0.025122,-0.086180,0.032139,-0.019236,NaN,0.087290,0.013126,-0.062862,0.024264,-0.037259,-0.022163,0.021023,0.011464,-0.011544
Owned_Car,-0.025122,1.000000,0.005219,0.069889,0.197574,NaN,-0.022982,-0.024571,0.000403,0.114689,-0.072661,-0.071300,0.000112,0.035407,-0.001604
Owned_Realty,-0.086180,0.005219,1.000000,0.021575,0.034507,NaN,-0.209380,-0.063773,0.061213,0.019551,0.090323,0.008389,-0.018068,-0.035979,0.002716
Total_Children,0.032139,0.069889,0.021575,1.000000,-0.015182,NaN,-0.011658,-0.021171,-0.014728,0.898460,-0.265141,-0.065068,-0.002668,-0.011748,0.011036
Total_Income,-0.019236,0.197574,0.034507,-0.015182,1.000000,NaN,-0.090286,0.010889,0.076031,-0.026003,0.057930,0.019723,0.015181,0.030039,-0.003482
Owned_Mobile_Phone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Owned_Work_Phone,0.087290,-0.022982,-0.209380,-0.011658,-0.090286,NaN,1.000000,0.369395,-0.067214,0.007215,-0.038803,0.012122,0.006804,0.024817,0.005318
Owned_Phone,0.013126,-0.024571,-0.063773,-0.021171,0.010889,NaN,0.369395,1.000000,0.009116,-0.008744,0.027083,0.040421,0.009014,0.018648,0.004323
Owned_Email,-0.062862,0.000403,0.061213,-0.014728,0.076031,NaN,-0.067214,0.009116,1.000000,-0.009114,-0.061562,-0.040552,0.003478,-0.000005,-0.009203
Total_Family_Members,0.024264,0.114689,0.019551,0.898460,-0.026003,NaN,0.007215,-0.008744,-0.009114,1.000000,-0.217155,-0.047864,-0.004211,0.013526,0.010056
Applicant_Age,-0.037259,-0.072661,0.090323,-0.265141,0.057930,NaN,-0.038803,0.027083,-0.061562,-0.217155,1.000000,0.338013,-0.007301,0.090722,0.010078
Years_of_Working,-0.022163,-0.071300,0.008389,-0.065068,0.019723,NaN,0.012122,0.040421,-0.040552,-0.047864,0.338013,1.000000,-0.017025,0.086426,0.021382
Total_Bad_Debt,0.021023,0.000112,-0.018068,-0.002668,0.015181,NaN,0.006804,0.009014,0.003478,-0.004211,-0.007301,-0.017025,1.000000,0.024368,-0.458497
Total_Good_Debt,0.011464,0.035407,-0.035979,-0.011748,0.030039,NaN,0.024817,0.018648,-0.000005,0.013526,0.090722,0.086426,0.024368,1.000000,0.074516
Status,-0.011544,-0.001604,0.002716,0.011036,-0.003482,NaN,0.005318,0.004323,-0.009203,0.010056,0.010078,0.021382,-0.458497,0.074516,1.000000

### Atribut Tipe Angka Desimal Menjadi Desimal 3 Angka Dibelakang Koma

In [28]:
dataset["Total_Income"]*0.00001

0        1.125
1        2.700
2        2.700
3        2.700
4        2.700
         ...
25123    1.575
25124    1.575
25125    1.575
25126    1.575
25127    2.025
Name: Total_Income, Length: 25128, dtype: float64

### 10 Record Atribut Bertipe Angka

In [29]:
numerics = [ 'int64', 'float64']
number = dataset.select_dtypes(include=numerics).copy()
number.head(10)

,Applicant_ID,Owned_Car,Owned_Realty,Total_Children,Total_Income,Owned_Mobile_Phone,Owned_Work_Phone,Owned_Phone,Owned_Email,Total_Family_Members,Applicant_Age,Years_of_Working,Total_Bad_Debt,Total_Good_Debt,Status
0,5008806,1,1,0,112500,1,0,0,0,2,59,4,0,30,1
1,5008808,0,1,0,270000,1,0,1,1,1,53,9,0,5,1
2,5008809,0,1,0,270000,1,0,1,1,1,53,9,0,5,1
3,5008810,0,1,0,270000,1,0,1,1,1,53,9,0,27,1
4,5008811,0,1,0,270000,1,0,1,1,1,53,9,0,39,1
5,5008815,1,1,0,270000,1,1,1,1,2,47,3,0,6,1
6,5008819,1,1,0,135000,1,0,0,0,2,49,4,0,8,1
7,5008820,1,1,0,135000,1,0,0,0,2,49,4,0,9,1
8,5008821,1,1,0,135000,1,0,0,0,2,49,4,0,9,1
9,5008822,1,1,0,135000,1,0,0,0,2,49,4,0,9,1

In [30]:
number.to_csv('Applicant_Angka.csv')